@model IEnumerable<Order>

<h2 class="mt-3"><i class="fas fa-list-ul"></i> Orders</h2>
<div class="list-group">

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col" class="text-end">Order Date</th>
      <th scope="col" class="text-end">Required Date</th>
      <th scope="col" class="text-end">Shipped Date</th>
    </tr>
</thead>
<tbody>
  @foreach (Order o in Model)
  {
    if (@o.ShippedDate == null)
    {
        if(@o.RequiredDate < DateTime.Now)
        {
            <tr class="table-danger">
                <td>@o.OrderId</td>
                <td class="text-end">@o.OrderDate</td>
                <td class="text-end">@o.RequiredDate</td>
                <td class="text-end">@o.ShippedDate</td>
            </tr>
        }
        else
        {
            <tr class="table-warning">
                <td>@o.OrderId</td>
                <td class="text-end">@o.OrderDate</td>
                <td class="text-end">@o.RequiredDate</td>
                <td class="text-end">@o.ShippedDate</td>
            </tr>
        }
    }
    else{
    <tr>
      <td>@o.OrderId</td>
      <td class="text-end">@o.OrderDate</td>
      <td class="text-end">@o.RequiredDate</td>
      <td class="text-end">@o.ShippedDate</td>
    </tr>
    }
  }
  </tbody>
</table>

</div>